@model Baski.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- WRAPPER -->
<div id="wrapper" class="main-wrapper">

    <!-- PAGE TITLE -->
    @*  <header id="page-title">

            <div class="container">
                <h1>Header 1</h1>

                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li class="active">Header 1</li>
                </ul>
            </div>
        </header>
    *@

    <!-- REVOLUTION SLIDER -->
    <div class="fullwidthbanner-container roundedcorners">
        <div class="fullwidthbanner">
            <ul>
                
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/baski-the-team.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="0% 20%" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium_bg_orange skewfromrightshort customout"
                         data-x="374"
                         data-y="382"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 4">
                        Бронзовые призеры VI кубка АБЛ 2014
                    </div>


                </li>
               @* <li data-transition="zoomin" data-slotamount="7" data-masterspeed="600">
                    <img src="~/Images/mylyk-defense.jpg" alt="slidebg1" data-bgfit="cover" data-bgrepeat="no-repeat">
                </li>*@
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/baski-slide-bkg-1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="0% 20%" data-bgrepeat="no-repeat">


                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium_bg_darkblue skewfromrightshort customout"
                         data-x="754"
                         data-y="32"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 4">
                        Баскетбол на свежем воздухе
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
                         data-x="790"
                         data-y="76"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0.8;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="300"
                         data-start="1100"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 7">
                        + пикник
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
                         data-x="905"
                         data-y="76"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0.56;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="300"
                         data-start="1300"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 7">
                        + фотосессия
                    </div>

                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->
    
    <!-- NEWS -->
    <section class="container">
        <div class="row">

            <!-- center column -->
            <div class="col-md-9">
                @foreach (var item in Model.Articles)
                {
                    Html.RenderPartial("Article", item);
                }
            </div>

            <!-- right column -->
            <div class="col-md-3">

                <!-- blog search -->
                <div class="widget" style="margin-top: 15px">

                    <h3>BLOG SEARCH</h3>

                    <form method="get" action="#" class="input-group">
                        <input type="text" class="form-control" name="s" id="s" value="" placeholder="search..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </form>
                </div>


                @Html.Partial("_TwitterWidget")
                
                @Html.Partial("_FollowUs")

               

            </div>
            <!-- /right column -->
        </div>
    </section>
    <!-- /NEWS -->
    
    @Html.Partial("_Roster")
    
    <!-- STATISTICS -->
    <section class="container">
        <h2>Баски vs Альфа 12.04.2014</h2>
        <div class="table-responsive ">
            <table class="table table-striped">
                <tr>
                    <th rowspan="2" style="vertical-align: middle;">№</th>
                    <th rowspan="2" style="vertical-align: middle;">Игрок</th>
                    <th colspan="3" style="text-align: center">2PG</th>
                    <th colspan="3" style="text-align: center">3PG</th>
                    <th colspan="3" style="text-align: center">FT</th>
                    <th colspan="3" style="text-align: center">Rebounds</th>
                    <th rowspan="2" style="text-align: left; vertical-align: middle;">Ast</th>
                    <th rowspan="2" style="text-align: left; vertical-align: middle;">Stl</th>
                    <th rowspan="2" style="text-align: left; vertical-align: middle;">TO</th>
                    <th rowspan="2" style="text-align: left; vertical-align: middle;">BS</th>
                    <th rowspan="2" style="text-align: left; vertical-align: middle;">F</th>
                    <th rowspan="2" style="text-align: left; vertical-align: middle;">EFF</th>
                    <th rowspan="2" style="text-align: left; vertical-align: middle;">PTS</th>
                </tr>
                <tr>
                    <th>M</th>
                    <th>A</th>
                    <th>%</th>
                    <th>M</th>
                    <th>A</th>
                    <th>%</th>
                    <th>M</th>
                    <th>A</th>
                    <th>%</th>
                    <th>Off</th>
                    <th>Def</th>
                    <th>Tot</th>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Безверхий</td>
                    <td>2</td>
                    <td>4</td>
                    <td>50</td>
                    <td>2</td>
                    <td>4</td>
                    <td>50</td>
                    <td>1</td>
                    <td>2</td>
                    <td>50</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>7</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Кропко</td>
                    <td>1</td>
                    <td>4</td>
                    <td>25</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>76</td>
                    <td>Давыдов</td>
                    <td>6</td>
                    <td>14</td>
                    <td>43</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>100</td>
                    <td>6</td>
                    <td>1</td>
                    <td>7</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>0</td>
                    <td>16</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Мулык</td>
                    <td>2</td>
                    <td>4</td>
                    <td>50</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>5</td>
                    <td>11</td>
                    <td>45</td>
                    <td>1</td>
                    <td>5</td>
                    <td>6</td>
                    <td>3</td>
                    <td>2</td>
                    <td>3</td>
                    <td>0</td>
                    <td>3</td>
                    <td>6</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Безкоровайный</td>
                    <td>0</td>
                    <td>5</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>7</td>
                    <td>10</td>
                    <td>70</td>
                    <td>7</td>
                    <td>1</td>
                    <td>8</td>
                    <td>0</td>
                    <td>2</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
            </table>
        </div>
    </section>
    <!-- /STATISTICS -->
</div>
<!-- /WRAPPER -->
<!-- FOOTER -->
