@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- WRAPPER -->
<div id="wrapper" class="main-wrapper">

    <!-- PAGE TITLE -->
    @*  <header id="page-title">

        <div class="container">
            <h1>Header 1</h1>

            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Features</a></li>
                <li class="active">Header 1</li>
            </ul>
        </div>
    </header>
*@

    <!-- REVOLUTION SLIDER -->
    <div class="fullwidthbanner-container roundedcorners">
        <div class="fullwidthbanner">
            <ul>

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/baski-slide-bkg-1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="0% 20%" data-bgrepeat="no-repeat">


                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium_bg_darkblue skewfromrightshort customout"
                        data-x="754"
                        data-y="32"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Back.easeOut"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        data-captionhidden="off"
                        style="z-index: 4">
                        Баскетбол на свежем воздухе
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
                        data-x="790"
                        data-y="76"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0.8;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="300"
                        data-start="1100"
                        data-easing="Back.easeOut"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        data-captionhidden="off"
                        style="z-index: 7">
                        + пикник
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
                        data-x="905"
                        data-y="76"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0.56;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="300"
                        data-start="1300"
                        data-easing="Back.easeOut"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        data-captionhidden="off"
                        style="z-index: 7">
                        + фотосессия
                    </div>

                </li>

                <!-- SLIDE  -->
                <li data-transition="zoomin" data-slotamount="7" data-masterspeed="600">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/demo/revolution_slider/slidebg1.jpg" alt="videobg1" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->

                    <div class="tp-caption medium_bg_darkblue sfr customout"
                        data-x="135"
                        data-y="178"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1600"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-captionhidden="on"
                        style="z-index: 2">
                        Послематчевое интервью
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption medium_bg_orange sfr customin customout"
                        data-x="225"
                        data-y="230"
                        data-customin="x:50;y:-30;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:00;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                        data-start="1600"
                        data-speed="800"
                        data-easing="Expo.easeIn"
                        data-endspeed="600">
                        Денис Давыдов
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption customin customout"
                        data-x="right" data-hoffset="-132"
                        data-y="center" data-voffset="0"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="600"
                        data-start="1000"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-endeasing="Power4.easeOut"
                        data-autoplay="false"
                        data-autoplayonlyfirsttime="false"
                        style="z-index: 8">
                        <iframe src='http://www.youtube.com/embed/rD9cymLxReg?enablejsapi=1&html5=1&hd=1&wmode=opaque&controls=1&showinfo=0;rel=0;' width='720' height='390' style='width: 640px; height: 360px;'></iframe>
                    </div>
                </li>
                <li data-transition="zoomin" data-slotamount="7" data-masterspeed="600">
                    <img src="~/Images/mulyk.jpg" alt="slidebg1" data-bgfit="cover" data-bgrepeat="no-repeat">
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->



</div>
<!-- /WRAPPER -->
<!-- FOOTER -->


