@using Baski.Helpers
@model IEnumerable<Baski.ViewModels.ArticleViewModel>
@{
    int pageNum = ViewBag.Page;
    Layout = null;
}
@foreach (var item in Model)
{
    Html.RenderPartial("_Article", item);
}
<div class="blog-timeline-load-more load-more" data-more-articles-url="@Url.LoadMore(pageNum)">
    <button class="btn btn-primary btn-lg">показать еще</button>
</div>