@{
    ViewBag.Title = "Roster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wrapper">
    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>Наша команда</h1>

            <ul class="breadcrumb">
                <li><a href="index.html">Главная</a></li>
                <li class="active">Состав</li>
            </ul>
        </div>
    </header>
    <section class="container">

      @*  <h2>Meet the <strong>team</strong></h2>

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>*@

        <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
            <li data-option-value="*" class="active"><a href="#">Показать всех</a></li>
            <li data-option-value=".pg"><a href="#">PG</a></li>
            <li data-option-value=".sg"><a href="#">SG</a></li>
            <li data-option-value=".sf"><a href="#">SF</a></li>
            <li data-option-value=".pf"><a href="#">PF</a></li>
            <li data-option-value=".c"><a href="#">C</a></li>
        </ul>


        <div class="row">

            <ul class="sort-destination isotope" data-sort-id="isotope-list">
                  <li class="isotope-item col-md-3 c">
                    <!-- item 5 -->
                    <div class="item-box fixed-box">
                        <figure>
                            <a class="img-thumbnail lightbox" href="/Images/Roster/Davydov.jpg" data-plugin-options="{"type":"image"}">
                                <img class="img-responsive" src="/Images/Roster/Davydov.jpg" width="263" height="263" alt="">
                            </a>
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">C</small>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-vk"></a>
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-google-plus"></a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="isotope-item col-md-3 pg">
                    <!-- item 2 -->
                    <div class="item-box fixed-box">
                        <figure>
                           <a class="img-thumbnail lightbox" href="/Images/Roster/Bylym.jpg" data-plugin-options="{"type":"image"}">
                             <img class="img-responsive" src="/Images/Roster/Bylym.jpg" width="263" height="263" alt="">
                           </a>
                             
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">PG</small>
                            <p>This is a short text - the content remains the same!</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-vk"></a>
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-instagram"></a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="isotope-item col-md-3 pf">
                    <!-- item 3 -->
                    <div class="item-box fixed-box">
                        <figure>
                            <img class="img-responsive" src="/Images/Roster/Lazhechnikov.jpg" width="263" height="263" alt="">
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">PF</small>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-google-plus"></a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="isotope-item col-md-3 pg">
                    <!-- item 4 -->
                    <div class="item-box fixed-box">
                        <figure>
                            <img class="img-responsive" src="/Images/Roster/Parfenchuk.jpg" width="263" height="263" alt="">
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">PG</small>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-google-plus"></a>
                            </div>
                        </div>
                    </div>
                </li>

                  <li class="isotope-item col-md-3 pg">
                    <!-- item 8 -->
                    <div class="item-box fixed-box">
                        <figure>
                            <img class="img-responsive" src="/Images/Roster/Antonuk.jpg" width="263" height="263" alt="">
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">PG</small>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-google-plus"></a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="isotope-item col-md-3 sf">
                    <!-- item 6 -->
                    <div class="item-box fixed-box">
                        <figure>
                            <img class="img-responsive" src="/Images/Roster/Timofeev.jpg" width="263" height="263" alt="">
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">SF</small>
                            <p>This is a short text - the content remains the same!</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-google-plus"></a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="isotope-item col-md-3 pf c">
                    <!-- item 7 -->
                    <div class="item-box fixed-box">
                        <figure>
                            <img class="img-responsive" src="/Images/Roster/Mulyk.jpg" width="263" height="263" alt="">
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">PF/C</small>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-google-plus"></a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="isotope-item col-md-3 pg sg">
                    <!-- item 8 -->
                    <div class="item-box fixed-box">
                        <figure>
                            <img class="img-responsive" src="/Images/Roster/bezverhiy.jpg" width="263" height="263" alt="">
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">PG/SG</small>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-google-plus"></a>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="isotope-item col-md-3 sf">
                    <!-- item 1 -->
                    <div class="item-box fixed-box">
                        <figure>
                            <img class="img-responsive" src="/Images/Roster/Bezkorovayniy.jpg" width="263" height="263" alt="">
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">SF</small>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-google-plus"></a>
                            </div>
                        </div>
                    </div>
                </li>
            
                <li class="isotope-item col-md-3 c">
                    <!-- item 8 -->
                    <div class="item-box fixed-box">
                        <figure>
                            <img class="img-responsive" src="/Images/Roster/Zemlyanskiy.jpg" width="263" height="263" alt="">
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">C</small>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-google-plus"></a>
                            </div>
                        </div>
                    </div>
                </li>
                 <li class="isotope-item col-md-3 sg">
                    <!-- item 8 -->
                    <div class="item-box fixed-box">
                        <figure>
                            <img class="img-responsive" src="/Images/Roster/belyaev.jpg" width="263" height="263" alt="">
                        </figure>
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <small class="styleColor">SG</small>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <div class="text-center">
                                <a href="#" class="social fa fa-facebook"></a>
                                <a href="#" class="social fa fa-twitter"></a>
                                <a href="#" class="social fa fa-google-plus"></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <!-- /.masonry-container -->

      @*  <!-- CALLOUT -->
        <div class="bs-callout text-center nomargin-bottom">
            <h3>Be part of <strong>Atropos Team</strong>. Send us your CV! <a href="contact-us.html" target="_blank" class="btn btn-primary btn-lg">Ok, let's do it!</a></h3>
        </div>
        <!-- /CALLOUT -->*@


    </section>
</div>
