@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wrapper">
    <!-- PAGE TITLE -->

    <section class="container">
        <div class="row">

            <!-- center column -->
            <div class="col-md-9">

                <!-- PAGINATION -->
                @*                <div class="row">

                    <div class="col-md-6 text-left responsive-text-center">
                        <p class="hidden-xs pull-left nomargin padding30"><strong>Showing</strong> 1-10 of 38 results.</p>
                    </div>

                    <div class="col-md-6 text-right">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>

                </div>*@
                <!-- /PAGINATION -->



                <hr class="half-margins" />
                <!-- separator -->

                <!-- article summary -->
                <div class="row">
                    <div class="col-md-4 text-center">
                        <iframe width="800" height="450" src="//www.youtube.com/embed/qifHAUFncOU" frameborder="0" allowfullscreen></iframe>

                        <!-- star rated -->
                        @*  <ul class="star-rated styleSecondColor">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>*@
                        <!-- /star rated -->
                    </div>
                    <div class="col-md-8">
                        <h4><a class="styleColor" href="magazine-single.html">Boulder smashes through Italian farm</a></h4>
                        <p>
                            Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
                            <small class="block styleSecondColor">29 June 2014, 9:55</small>
                        </p>
                    </div>
                </div>
                <!-- /article summary -->


                <hr class="half-margins" />
                <!-- separator -->


                <!-- article summary -->
                <div class="row">
                    <div class="col-md-4 text-center">
                        <iframe width="800" height="450" src="//www.youtube.com/embed/xk6_JIuuLpI" frameborder="0" allowfullscreen></iframe>
                        <!-- star rated -->
                        @*<ul class="star-rated styleSecondColor">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>*@
                        <!-- /star rated -->
                    </div>
                    <div class="col-md-8">
                        <h4><a class="styleColor" href="magazine-single.html">Boulder smashes through Italian farm</a></h4>
                        <p>
                            Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
                            <small class="block styleSecondColor">29 June 2014, 9:55</small>
                        </p>
                    </div>
                </div>
                <!-- /article summary -->


                <hr class="half-margins" />
                <!-- separator -->


                <!-- article summary -->
                <div class="row">
                    <div class="col-md-4 text-center">
                        <iframe width="800" height="450" src="//www.youtube.com/embed/bIv3CBRaJfg" frameborder="0" allowfullscreen></iframe>
                        <!-- star rated -->
                        @*<ul class="star-rated styleSecondColor">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>*@
                        <!-- /star rated -->
                    </div>
                    <div class="col-md-8">
                        <h4><a class="styleColor" href="magazine-single.html">Boulder smashes through Italian farm</a></h4>
                        <p>
                            Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
                            <small class="block styleSecondColor">29 June 2014, 9:55</small>
                        </p>
                    </div>
                </div>

                <hr class="half-margins" />
                <!-- separator -->
                @*   <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="vk_post_-31929607_729"></div>
                        <script type="text/javascript">
                            (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?112"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
                            (function () {
                                if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-31929607_729", -31929607, 729, 'VdxtTHEIIVGWinXppKdOr7Q5ZA', { width: 1140, height:203 })) setTimeout(arguments.callee, 50);
                            }());
                        </script>
                    </div>
                </div>*@
                <div class="blog-timeline-load-more">
                    <button class="btn btn-primary btn-lg">Показать еще</button>
                </div>

                <!-- /article summary -->
            </div>

            <!-- right column -->
            <div class="col-md-3">

                <!-- blog search -->
                <div class="widget" style="margin-top: 15px">

                    <h3>BLOG SEARCH</h3>

                    <form method="get" action="#" class="input-group">
                        <input type="text" class="form-control" name="s" id="s" value="" placeholder="search..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </form>
                </div>


                <!-- TWEETS -->
                <h3 class="page-header">
                    <i class="fa fa-twitter"></i>
                    Latest <strong class="styleColor">Tweets</strong>
                </h3>

                <p>
                    <a href="#">@@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
                </p>
                <p>
                    <a href="#">@@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
                </p>
                <p>
                    <a href="#">@@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
                </p>

                <!-- SOCIALS -->
                <h3 class="page-header">
                    <i class="fa fa-twitter"></i>
                    <strong class="styleColor">Follow</strong> Us
                </h3>

                <a href="#" class="social fa fa-facebook"></a>
                <a href="#" class="social fa fa-twitter"></a>
                <a href="#" class="social fa fa-google-plus"></a>
                <a href="#" class="social fa fa-linkedin"></a>
                <a href="#" class="social fa fa-pinterest"></a>
                <a href="#" class="social fa fa-flickr"></a>

            </div>
            <!-- /right column -->
        </div>
    </section>
</div>

