@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wrapper">
    <!-- PAGE TITLE -->

    <section class="container">
        <div class="row">

            <!-- center column -->
            <div class="col-md-9">
                 @Html.Partial("_Posts")
            </div>

            <!-- right column -->
            <div class="col-md-3">

                <!-- blog search -->
                <div class="widget" style="margin-top: 15px">

                    <h3>BLOG SEARCH</h3>

                    <form method="get" action="#" class="input-group">
                        <input type="text" class="form-control" name="s" id="s" value="" placeholder="search..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </form>
                </div>

                @Html.Partial("_TwitterWidget")

                @Html.Partial("_FollowUs")

            </div>
            <!-- /right column -->
        </div>
    </section>
</div>

