<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="BaskiConnection" />
    <add name="BaskiConnection" connectionString="Data Source=ALEXANDERP;Initial Catalog=Baski;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="BaskiConnection" connectionString="Data Source=mssql4.1gb.ua;Initial Catalog=1gb_baski;Persist Security Info=True; User ID=1gb_kepik; Password=c0219cf60jkl;" providerName="System.Data.SqlClient" />-->
    <!--<add name="BaskiConnection" connectionString="Data Source=UA1DT9YGD45J;Initial Catalog=Baski;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>