@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- LOGIN -->

<section class="container">
    <div class="row">
        <h2>Sign <strong>In</strong></h2>

        <form class="white-row" method="post" action="/Account/LogOn?returnUrl=@Request.QueryString["ReturnUrl"]">
            <!-- alert failed -->
            @*<div class="alert alert-danger">
                <i class="fa fa-frown-o"></i>
                Wrong <strong>E-mail Address</strong> or <strong>Password</strong>!
            </div>*@

            <div class="row" style="width: 300px; margin: 0 auto;">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>E-mail Address</label>
                        <input name="email" type="text" value="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row" style="width: 300px; margin: 0 auto;">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Password</label>
                        <input name="password" type="password" value="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row" style="width: 300px; margin: 0 auto;">
              
                <div class="col-md-6">
                    <input type="submit" value="Sign In" class="btn btn-primary pull-right" data-loading-text="Loading...">
                </div>
            </div>

        </form>
    </div>
</section>

<!-- /LOGIN -->
