<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Баски - админка</title>

    <!-- Core CSS - Include with every page -->
    <link href="~/Areas/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="~/Areas/Admin/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="~/Areas/Admin/css/sb-admin.css" rel="stylesheet">
    <link href="~/Areas/Admin/css/baski-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/Admin/Articles"><i class="fa fa-table fa-fw"></i>Статьи</a>
                        </li>
                        <li>
                            <a href="/Admin/Widgets"><i class="fa fa-table fa-fw"></i>Виджеты</a>
                        </li>
                        <li>
                            <a href="/Admin/Players"><i class="fa fa-table fa-fw"></i>Игроки</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="~/Areas/Admin/js/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="~/Areas/Admin/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Areas/Admin/js/tinymce/tinymce.min.js"></script>
    <script src="~/Areas/Admin/js/tinymce/langs/ru.js"></script>
    @*<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>*@
    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="~/Areas/Admin/js/plugins/morris/raphael-2.1.0.min.js"></script>
    @*<script src="~/Areas/Admin/js/plugins/morris/morris.js"></script>*@

    <!-- SB Admin Scripts - Include with every page -->
    <script src="~/Areas/Admin/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    @*<script src="~/Areas/Admin/js/demo/dashboard-demo.js"></script>*@

    <script src="~/Areas/Admin/js/baski-admin.js"></script>
</body>

</html>
