<!-- SOCIALS -->
<h3 class="page-header">
    <i class="fa fa-twitter"></i>
    <strong class="styleColor">Follow</strong> Us
</h3>

<a href="http://vk.com/club31929607" class="social fa fa-vk"></a>
<a href="https://www.facebook.com/bcbaski" class="social fa fa-facebook"></a>
<a href="https://twitter.com/uabaski" class="social fa fa-twitter"></a>

@*<a href="#" class="social fa fa-linkedin"></a>
<a href="#" class="social fa fa-pinterest"></a>
<a href="#" class="social fa fa-flickr"></a>*@