<header id="topHead" class="color">
    <div class="container">
        <i class="fa fa-phone"></i>+380509525994 &bull; 
		<a href="mailto:mail@yourdomain.com">uabaski@gmail.com</a>
        <div class="pull-right socials">
            <a href="http://vk.com/club31929607" class="pull-left social fa fa-vk"></a>
            <a href="https://www.facebook.com/bcbaski" class="pull-left social fa fa-facebook"></a>
            <a href="https://twitter.com/uabaski" class="pull-left social fa fa-twitter"></a>
        </div>
    </div>
</header>
<!-- TOP NAV -->
<header id="topNav" class="topHead">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        @* <a class="logo" href="index.html">
            <img src="/Images/baski-logo.jpg" alt="Atropos" />
        </a>*@

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/Roster">Состав</a></li>
                   @* <li><a href="/Statistics">Статистика</a></li>*@
@*                    <li><a href="/Video">Видео</a></li>*@
                </ul>
            </nav>
        </div>
        <!-- /Top Nav -->

    </div>
</header>
<span id="header_shadow"></span>
<!-- /TOP NAV -->
