<hr class="half-margins" />
<!-- separator -->
<!-- article summary -->
<div class="row">
    <div class="col-md-4 text-center">
        <iframe width="800" height="450" src="//www.youtube.com/embed/csSfWudm-Zw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-8">
        <h4><a class="styleColor" href="magazine-single.html">ХБЛ 6 сезон. Матч за 3-е место. Баски - ЕПАМ</a></h4>
        <p>
            Здесь может быть краткое описание шпилева.
                            <small class="block styleSecondColor">7 декабря 2013</small>
        </p>
    </div>
</div>
<!-- /article summary -->

<hr class="half-margins" />
<!-- separator -->
<!-- article summary -->
<div class="row">
    <div class="col-md-4 text-center">
        <iframe width="800" height="450" src="//www.youtube.com/embed/qifHAUFncOU" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-8">
        <h4><a class="styleColor" href="magazine-single.html">ХБЛ 6 сезон. Тур 4. Баски - Энгри биммерс</a></h4>
        <p>
            Здесь может быть краткое описание шпилева.
                            <small class="block styleSecondColor">7 декабря 2013</small>
        </p>
    </div>
</div>
<!-- /article summary -->


<hr class="half-margins" />
<!-- separator -->
<!-- article summary -->
<div class="row">
    <div class="col-md-4 text-center">
        <iframe width="800" height="450" src="//www.youtube.com/embed/xk6_JIuuLpI" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-8">
        <h4><a class="styleColor" href="magazine-single.html">ХБЛ 6 сезон. Тур 5. Баски - Фенникс</a></h4>
        <p>
            Здесь может быть краткое описание шпилева.
                            <small class="block styleSecondColor">15 декабря 2013</small>
        </p>
    </div>
</div>
<!-- /article summary -->


<hr class="half-margins" />
<!-- separator -->
<!-- article summary -->
<div class="row">
    <div class="col-md-4 text-center">
        <iframe src="//www.youtube.com/embed/bIv3CBRaJfg" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-8">
        <h4><a class="styleColor" href="magazine-single.html">ХБЛ 6 сезон. Тур 5. Баски - МНТУ</a></h4>
        <p>
            Здесь может быть краткое описание шпилева.
                            <small class="block styleSecondColor">23 ноября 2013</small>
        </p>
    </div>
</div>

<hr class="half-margins" />
<div class="blog-timeline-load-more">
    <button class="btn btn-primary btn-lg">Показать еще</button>
</div>
<br class="half-margins">
<!-- /article summary -->
