<hr class="half-margins" />
<!-- separator -->
<!-- article summary -->
<div class="row">
    <div class="col-md-4 text-center">
        <iframe width="800" height="450" src="//www.youtube.com/embed/qifHAUFncOU" frameborder="0" allowfullscreen></iframe>

        <!-- star rated -->
        @*  <ul class="star-rated styleSecondColor">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>*@
        <!-- /star rated -->
    </div>
    <div class="col-md-8">
        <h4><a class="styleColor" href="magazine-single.html">ХБЛ 6 сезон. Тур 4. Баски - Энгри биммерс</a></h4>
        <p>
            Здесь может быть краткое описание шпилева.
                            <small class="block styleSecondColor">7 декабря 2013</small>
        </p>
    </div>
</div>
<!-- /article summary -->


<hr class="half-margins" />
<!-- separator -->
<!-- article summary -->
<div class="row">
    <div class="col-md-4 text-center">
        <iframe width="800" height="450" src="//www.youtube.com/embed/xk6_JIuuLpI" frameborder="0" allowfullscreen></iframe>
        <!-- star rated -->
        @*<ul class="star-rated styleSecondColor">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>*@
        <!-- /star rated -->
    </div>
    <div class="col-md-8">
        <h4><a class="styleColor" href="magazine-single.html">ХБЛ 6 сезон. Тур 5. Баски - Фенникс</a></h4>
        <p>
            Здесь может быть краткое описание шпилева.
                            <small class="block styleSecondColor">15 декабря 2013</small>
        </p>
    </div>
</div>
<!-- /article summary -->


<hr class="half-margins" />
<!-- separator -->
<!-- article summary -->
<div class="row">
    <div class="col-md-4 text-center">
        <iframe src="//www.youtube.com/embed/bIv3CBRaJfg" frameborder="0" allowfullscreen></iframe>
        <!-- star rated -->
        @*<ul class="star-rated styleSecondColor">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>*@
        <!-- /star rated -->
    </div>
    <div class="col-md-8">
        <h4><a class="styleColor" href="magazine-single.html">ХБЛ 6 сезон. Тур 5. Баски - МНТУ</a></h4>
        <p>
            Здесь может быть краткое описание шпилева.
                            <small class="block styleSecondColor">23 ноября 2013</small>
        </p>
    </div>
</div>

<hr class="half-margins" />
<!-- separator -->
@*   <div class="row">
                        <div class="col-md-12 text-center">
                            <div id="vk_post_-31929607_729"></div>
                            <script type="text/javascript">
                                (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?112"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
                                (function () {
                                    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post("vk_post_-31929607_729", -31929607, 729, 'VdxtTHEIIVGWinXppKdOr7Q5ZA', { width: 1140, height:203 })) setTimeout(arguments.callee, 50);
                                }());
                            </script>
                        </div>
                    </div>*@
<div class="blog-timeline-load-more">
    <button class="btn btn-primary btn-lg">Показать еще</button>
</div>
<br class="half-margins">
<!-- /article summary -->
