<!-- TWEETS -->
@*
<h3 class="page-header twitter-widget">
    <i class="fa fa-twitter"></i>
    Latest <strong class="styleColor">Tweets</strong>
</h3>

<p>
    <a href="#">@@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
</p>
<p>
    <a href="#">@@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
</p>
<p>
    <a href="#">@@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
</p>
*@

<div>
    <a class="twitter-timeline" height="400" href="https://twitter.com/uabaski" data-widget-id="488335885578944512"></a>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
    </script>
</div>
