<!-- TWEETS -->
<h3 class="page-header">
    <i class="fa fa-twitter"></i>
    Latest <strong class="styleColor">Tweets</strong>
</h3>

<p>
    <a href="#">@@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
</p>
<p>
    <a href="#">@@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
</p>
<p>
    <a href="#">@@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
</p>
