<script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
    VK.Widgets.Group("vk_groups", { mode: 2, width: "264", height: "400" }, 31929607);
</script>
@*@Html.Partial("_TwitterWidget")*@