@using Baski.Helpers
@model Baski.ViewModels.FooterViewModel
<footer>
    <!-- copyright , scrollTo Top -->
    <div class="footer-bar">
        <div class="container" style="height: 63px;">
            @*  <span class="copyright">Баски &copy;. Все права защищены.</span>*@
            <a class="toTop" href="#topNav" style="width: 100%; padding-left: 0;">Наверх <i class="fa fa-arrow-circle-up"></i></a>
        </div>
    </div>
    <!-- copyright , scrollTo Top -->
    <!-- footer content -->
    <div class="footer-content">
        <div class="container">

            <div class="row">

                <!-- FOOTER CONTACT INFO -->
                <div class="column col-md-4">
                    <h3>CONTACT</h3>

                    <p class="contact-desc">
                        Баски - любительская баскетбольная команда.
                    </p>
                    <address class="font-opensans">
                        <ul>
                            <li class="footer-sprite address">Менеджер - Денис Антонюк
                            </li>
                            <li class="footer-sprite phone">+380509525994
                                <br />
                                +380932584644
                                <br />
                            </li>
                            <li class="footer-sprite email">
                                <a href="mailto:uabaski@gmail.com">uabaski@gmail.com</a>
                            </li>
                        </ul>
                    </address>

                </div>
                <!-- /FOOTER CONTACT INFO -->
                <!-- FOOTER LOGO -->
                <div class="column logo col-md-4 text-center" style="padding: 0">
                    <div class="logo-content">
                        <img class="animate_fade_in" src="/Images/baski-logo-2.jpg" width="100%" alt="" />
                    </div>
                </div>
                <!-- /FOOTER LOGO -->
                <!-- FOOTER LATEST POSTS -->
                <div class="column col-md-4 text-right">
                    <h3>ПОСЛЕДНИЕ НОВОСТИ</h3>

                    @foreach (var item in Model.Articles.Take(3))
                    {
                        <div class="post-item">
                            <small>@item.Date</small>
                            <h3><a href="@Url.ArticleUrl(item.Id)">@item.Title</a></h3>
                        </div>
                      
                    }
                   @* <a href="blog-masonry-sidebar.html" class="view-more pull-right">View Blog <i class="fa fa-arrow-right"></i></a>*@

                </div>
                <!-- /FOOTER LATEST POSTS -->

            </div>

        </div>
    </div>
    <!-- footer content -->
</footer>
