@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- LOGIN -->

<section class="container">
    <div class="row">
        <h2 class="center-box" style="margin-left: 530px;">Вход</h2>

        <form class="white-row" method="post" action="/Account/LogOn?returnUrl=@Request.QueryString["ReturnUrl"]">
            <div class="row" style="width: 300px; margin: 0 auto;">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Имя пользователя</label>
                        <input name="email" type="text" value="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row" style="width: 300px; margin: 0 auto;">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Пароль</label>
                        <input name="password" type="password" value="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row" style="width: 300px; margin: 0 auto;">
              
                <div class="col-md-6">
                    <input type="submit" value="Sign In" class="btn btn-primary pull-right" data-loading-text="Loading...">
                </div>
            </div>

        </form>
    </div>
</section>

<!-- /LOGIN -->
