@using Baski.Helpers
@model IEnumerable<Baski.Orm.Models.Player>
@{
    Layout = "../Shared/_Layout.cshtml";
}

<p>
    <br />
    <a href="/Admin/Players/Create" type="button" class="btn btn-primary btn-sm">Добавить игрока</a>
</p>
<table class="table table-striped table-bordered table-hover dataTable no-footer">
    <tr>
        <th>Имя Фамилия</th>
        <th>Дата рождения</th>
        <th>Позиция</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        int id = item.Id;
        <tr>
            <td>
                <a href="/Admin/Players/Edit?id=@item.Id">@string.Format("{0} {1}", item.FirstName, item.LastName)</a>
            </td>
            <td>
                @item.Birthdate.FormatDateTime()
            </td>
            <td>
                @item.Position
            </td>
            <td>
                <a href="/Admin/Players/Delete?id=@item.Id">Удалить</a>
            </td>
        </tr>
    }

</table>
