#wrapper.main-wrapper
{
    padding: 62px 0 0 0;
}

.tp-bannershadow.tp-shadow1
{
    bottom: 0px;
}

header#topHead
{
    border-bottom: none;
}

.lightbox
{
    top: 0;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close
{
    cursor: pointer;
}

.blog-timeline-load-more
{
    text-align: center;
}

.fullwidthbanner-container.roundedcorners
{
    margin-bottom: 0px !important;
}

/* without header*/
/*header#topNav.topHead {
    top: 0;
}*/

a.social.fa-vk:hover
{
    background: #597DA3!important;
    color: #fff!important;
}
.page-header.twitter-widget {
    margin-top: 0;
}
.container.magazine.top-no-header.main-layout {
    padding-top: 40px;
}

.col-md-3 table {
    margin-bottom: 0px;
}