#wrapper.main-wrapper {
    padding: 62px 0 0 0;
}

.tp-bannershadow.tp-shadow1 {
    bottom: 0px;
}
header#topHead {
    border-bottom: none;
}
.lightbox {
    top: 0;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close, .mfp-container {
    cursor: pointer;
}
a.social.fa-vk:hover {
    background: #3b5997!important;
    color: #fff!important;
}

a.social.fa-instagram:hover {
    background: #3b5997!important;
    color: #fff!important;
}